@import "styles";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$card-map: (
    "supervisor": color("cyan"),
    "team-builder": color("red"),
    "karma": color("orange"),
    "calculator": color("blue")
);

body {
    @if($debug) {
        background-image: url("../design/mobile-design.jpg");
        background-repeat: no-repeat;
    }
    font-family: $font-family;
    font-size: $font-size;
    background-color: color(very-light-gray);
    color: color(very-dark-blue);
}

.container {
    margin: 0 auto;
    @if($debug) {
        width: map_get($breakpoints, small);
    }
}

header {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 5.5rem;

    span {
        display: block;
    }

    .top {
        font-weight: lighter;
    }

    .bottom {
        font-weight: bold;
    }

    > p {
        width: 70%;
        margin: 0 auto;
        font-weight: lighter;
    }
}

main {
    margin-top: 5.3rem;
}

.card {
    @if ($debug) {
        //outline: 1px solid red;
    }
    position: relative;
    padding: 20px 35px;
    height: 178px;
    margin: 24px;
    border-radius: 2%;
    border-top: 4px solid;
    background-color: white;
    box-shadow: 1px 9px 16px 2px #DFE7F2;

    img {
        position: absolute;
        bottom: 25px;
        right: 35px;
    }

    h2 {
        margin: 0;
    }

    p {
        font-weight: lighter;
        margin-top: 0;
    }

}

@each $element, $color in $card-map {
    ##{$element} {
        border-top-color: $color;
    }
}

footer {
    .attribution {
        font-size: 11px;
        text-align: center;
        a { color: hsl(228, 45%, 44%); }
    }
}
